.pizzaCard {
    display: flex;
    box-shadow: 1px 1px 2px 2px gray;
    width: 300px;
    height: 550px;
    border-radius: 5px;

}

.picture {
    width: 100%;
    margin: 0px;
    border-radius: 5px;
}

.tag {
    font-size: 16px;
    position: fixed;
    top: 12%;
    padding: 5px;
    background-color: darkred;
    color: #fff;
}

.pizzaName {
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 800;
}

.description {
    color: rgb(0, 0, 0, 0.5);
    padding-left: 15px;
    margin-bottom: 25px;
}

.size {
    padding-left: 25px;
    margin-left: 15px;
    font-size: 18px;
    border-radius: 20px;
}

.price {
    padding-left: 15px;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 800;
}

.shopping {
    margin-left: 15px;
}

.countButton {
    width: 45px;
    height: 28px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.counter {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 22px;
    border: 1px solid black;
}

.cartIcon {
    margin-left: 20px;
    width: 50px;
    box-shadow: 1px 1px 1px 1px gray;
}