h1 {
    color: red
}

.BlueBack {
    background-color: blue;
    color: white;
    width: 160px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.RedTxt {
    color: red;
}

h2 {
    background-color: green;
    color: white;
}

.right {
    padding-left: 40px;
    margin: 10px 0px 10px 0px;
}

li {
    border: 1px solid black;
    font-weight: 800;
}